div {
    text-align: center;
}

select {
    height: 25px;
}

button {
    border-radius: 10px;
    border-color: lime;
}

.countries {
    height: 67px;
    border-radius: 7px;
    text-align: center;
}